<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default_Layout">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common.css}" >
    </th:block>

    <th:block layout:fragment="content">
        <div class="container">
            <h1 class="page-header">게시판 목록</h1>
            <br>
            <div class="input-group">
                <input type="text" id="searchVal" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            <br />

            <form>
                <table class="table table-hover">
                    <colgroup>
                        <col width="2%" />
                        <col width="5%" />
                        <col width="20%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="allCheckBox" class="chk">
                            </label>
                        </th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>조회수</th>
                        <th>파일유무</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="board : ${board}">
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="chk" name="cchk" value="">
                                </label>
                            <td th:text="${board.boardIdx}"></td>
                            <td th:text="${board.boardTitle}"><a href=""></a></td>
                            <td th:text="${board.regId}"></td>
                            <td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${board.viewCount}"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <!-- ADMIN 권한일경우에만 글쓰기 권한있음 -->
                <div class="text-right">
                    <a th:if="${session.authority == 'ADMIN'}" href='javascript:boardDelete();' class="btn btn-danger">글삭제</a>
                    <a th:if="${session.authority == 'ADMIN'}" href="/board/write" class="btn btn-primary">글쓰기</a>
                </div>

                <div class="text-center">
                    <ul class="pagination">
                        <li th:each="page : ${#numbers.sequence(0, totalPage - 1)}">
                            <a th:href="@{/(page=${pageStat.index})}" th:text="${pageStat.index + 1}"></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </th:block>
</html>