<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="headerFragment" class="navbar navbar-default navbar-static-top">
        <input type="hidden" id="loginId" th:if="${session.sessUserInfo != null}" th:value="${session.sessUserInfo.userId}"/>
        <input type="hidden" id="authority" th:if="${session.authority != null}" th:value="${session.authority}"/>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">게시판 예제</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true" style="">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">jpa 게시판</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a th:if="${#strings.isEmpty(session.authority)}" href="/auth/join">회원가입</a></li>
                    <li><a th:if="${#strings.isEmpty(session.authority)}" href="/auth/login">로그인</a></li>
                    <li><a th:if="${not #strings.isEmpty(session.authority)}" href="/auth/logout-proc">로그아웃</a></li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
</html>